body{
	background: url("../images/background.jpg") no-repeat center center fixed;
	background-size: cover;

}

h1 {
    font-family: 'Dokdo', cursive;
    text-align: center;
}

h3 {
    font-family: 'Dokdo', cursive;
    text-align: center;
}