body{
	background: url("../images/background.jpg") no-repeat center center fixed;
	background-size: cover;

}

h1 {
    font-family: 'Dokdo', cursive;
    text-align: center;
}

h3 {
    font-family: 'Dokdo', cursive;
    text-align: center;
}

.btn-outline-danger {
    position: relative;
    top: 32px;
}

.row{
    margin: auto;
        
}

.form-row{
    position: relative;
    left: 80px;
}